<div class="container-fluid custom-background">
  <div class="row justify-content-end p-3">
    <div class="col-auto">
      <button type="button" (click)="openCustomer()">+ Add Customer</button>
    </div>
    <div class="col-auto">
      <button type="button" (click)="openPin()">+ Add Pin</button>
    </div>
  </div>

  <div class="offset-lg-2">
    <h2>List of customers</h2>
    <div class="table-responsive">
      <table class="table table-bordered custom-table">
        <thead class="sticky-header">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Collaboratory</th>
            <th scope="col">Privacy</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pinList">
            <td>{{ item.title }}</td>
            <td>
              <img class="cust-img" src="{{ item.image }}" alt="Base64 Image" />
            </td>
            <td>{{ item.collaborators }}</td>
            <td>{{ item.privacy }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
